ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
}

.dumper table {
    line-height:2em;
    font-family: sans-serif;
    width:100%;
    border-spacing: unset;
}

.dumper table tr {
    vertical-align: top;
    padding: 0px;
    margin: 0px;    
}

.dumper th {
    background-color:#ededed;
    border: none !important;
    border-left: solid thin !important;
    border-right: solid thin !important;    
    text-align:left;
    margin: 0px;
    padding: .25em
}

.dumper th:first-child {
    border-top: solid thin !important;
}

.dumper th:last-child {
    border-top: solid thin !important;
}

.dumper table td {
    text-align:left;
    padding: .25em;
    padding-left: .5em;
    margin: 0px;
}
